nav.nav-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: transparent!important; 
  z-index: 1000;
  padding-bottom: 30px;
  transition: transform 0.3s ease;
}

.nav-footer:hover {
  transform: translateY(-5px);
}

nav.nav-footer .container {
  height: 100%;
  background: linear-gradient(to right, rgba(32, 45, 115, 0.5), rgba(32, 45, 115, 0.8));
  border-radius: 30px;
  width: 60%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

nav.nav-footer .container > * {
  margin: auto;
}
