nav.nav-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: transparent!important; 
  z-index: 1000;
  padding-bottom: 30px;
}

nav.nav-footer .container {
  height: 100%;
  background-color: rgba(32, 45, 115, 0.5);
  border-radius: 20px;
  width: 60%;
}

nav.nav-footer .container > * {
  margin: auto;

}

button.guess-button {
  background-color: var(--info-color);
  border: none;
  color: #202D73;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  font-weight: bold;
  margin: 10px;
}

button.guess-button:hover {
  background-color: var(--success-color);
  color: white; 
}
