nav.nav-icon {
  width: 100%;
  background-color: transparent!important; 
  box-shadow: 0 2px 20px rgba(5, 6, 10, 0.5);
  z-index: 1000;
  padding: 10px 0 10px 0;
  transition: transform 0.3s ease;
}
